@page "/mainchat"
@using Gadajec.Client.Brokers.API
@attribute [Authorize]

<PageTitle>Gadajec Publiczny Chat</PageTitle>
<HeadContent>
    <meta name="description" content="This is test from posts" />
</HeadContent>

@inject IApiBroker apiBroker;


    <h1>Publiczny</h1>


@code {

}
